@import "comm"

$nav-height = 50px

body {
    background-color: #454163
    background-image: -webkit-radial-gradient(#565378, #37324a)
    background-image:    -moz-radial-gradient(#565378, #37324a)
    background-image:     -ms-radial-gradient(#565378, #37324a)
    background-image:         radial-gradient(#565378, #37324a)
}


.demo-editor {
    size(1000px, 500px)
    margin: 0 auto
    position: relative
    font-size: 14px !important
    background-color: #272822
    color: #fff

    .ace_active-line {
        background-color: transparent !important
    }

    .ace_gutter {
        background-color: #272822 !important
    }

    .ace_gutter-active-line {
        background-color: #3e3d32 !important
    }

    .ace_tooltip {
        animation(changeOpacity .2s);
        background-color: #282828
        border: 2px solid #414141
        color: #787878
        border-radius: 0
        box-shadow: none
        padding: 5px 15px
        max-width: 800px
    }

    .ace_gutter-cell.ace_error {
        image-2x('../img/icon_editor@2x.png', 150px, 100px)
        background: url(../img/icon_editor.png) -97px 3px no-repeat
    }
}

.demo-slogan {
    margin-top: 70px
    text-align: center
    color: #fff
    font-weight: 400
    font-family: $font-fzyx

    .slogan-title {
        font-size: 60px
        margin-bottom: 10px
        letter-spacing: 1px
    }

    .slogan-content {
        font-size: 36px
        color: #d2c9d4
    }
}

.demo-editor-wrap {
    margin: 60px auto 80px
    width: 1000px
    overflow: hidden

    &.full {
        fixed(0, 0, 0, 0)
        size(100%)
        overflow: hidden
        margin: 0

        .demo-editor {
            width: 100%
        }

        .demo-console-wrap {
            absolute(null, 0, 0, 0)
            height: 92px
            overflow-y: auto
            overflow-x: hidden
            z-index: 99
        }
    }
}

.demo-nav {
    relative()
    font-size: 14px
    background-color: #1f1f1f

    .nav-list {
        reset-list()
        clearfix()

        .nav-btn {
            &.first {
                float: left
            }

            &.last {
                absolute(0, 0, null, null)
            }
        }

        .nav-item {
            float: left

            a {
                display: block
                color: #909293
                background-color: #1f1f1f
                padding: 0 30px
                height: $nav-height
                line-height: $nav-height
            }

            &:hover {
                a {
                    text-decoration: none
                    background-color: #313131
                }
            }

            &.cur {
                a {
                    text-decoration: none
                    background-color: #282828
                }

                &:hover {
                    a {
                        background-color: #282828
                        cursor: default
                    }
                }
            }
        }
    }
}

.demo-console-wrap {
    background-color: #282828
    border: 4px solid #232323
    border-left: 0
    border-right: 0
}

.demo-console {
    padding: 5px 15px
    font-size: 12px
    color: #909293
    line-height: 1.4

    .warn {
        color: #c7c327
    }

    .err {
        color: #c71e12
    }

    .info {
        color: #00c120
    }
}

.format-btn {
    transition(background-color, .1s)
    display: block
    height: $nav-height
    padding: 0 20px
    line-height: $nav-height
    text-align: center
    color: #fff
    background-color: #2891d3

    &:hover {
        text-decoration: none
        background-color: #2085c5
    }
}

.full-screen-btn {
    size($nav-height)
    image-2x('../img/icon_editor@2x.png', 150px, 100px)
    background: url(../img/icon_editor.png) 0 0 no-repeat
    display: block

    &:hover {
        background-color: #313131
        background-position: 0 -50px
    }

    &.full {
        background-position: -50px 0

        &:hover {
            background-position: -50px -50px
        }
    }
}
