#demo-body {
    height: 100%
    overflow-x: hidden
    background-color: #454163
    background-image: -webkit-radial-gradient(#565378, #37324a)
    background-image:    -moz-radial-gradient(#565378, #37324a)
    background-image:     -ms-radial-gradient(#565378, #37324a)
    background-image:         radial-gradient(#565378, #37324a)
}
