@import "comm"

$nav-height = 50px
$editor-menu-hover-bg = #313131
$editor-menu-hover-bg-light = #2891d3
$editor-menu-width = 220px

body {
    background-color: #454163
    background-image: -webkit-radial-gradient(#565378, #37324a)
    background-image:    -moz-radial-gradient(#565378, #37324a)
    background-image:     -ms-radial-gradient(#565378, #37324a)
    background-image:         radial-gradient(#565378, #37324a)
}


.demo-editor {
    size(1000px, 500px)
    margin: 0 auto
    position: relative
    font-size: 14px !important
    background-color: #272822
    color: #272822

    .ace_active-line {
        background-color: transparent !important
    }

    .ace_gutter {
        background-color: #272822 !important
    }

    .ace_gutter-active-line {
        background-color: #3e3d32 !important
    }

    .ace_tooltip {
        animation(changeOpacity .2s)
        background-color: #282828
        border: 2px solid #414141
        color: #787878
        border-radius: 0
        box-shadow: none
        padding: 5px 15px
        max-width: 800px
    }

    .ace_gutter-cell {
        &.ace_error {
            image-2x('../img/icon_editor@2x.png', 200px, 100px)
            background: url(../img/icon_editor.png) -97px 3px no-repeat
        }

        &.ace_warning {
            image-2x('../img/icon_editor@2x.png', 200px, 100px)
            background: url(../img/icon_editor.png) -97px -73px no-repeat
        }
    }
}

.demo-slogan {
    margin-top: 20px
    text-align: center
    color: #fff
    font-weight: 400
    font-family: $font-fzyx

    .slogan-title {
        font-size: 60px
        margin-bottom: 10px
        letter-spacing: 1px
    }

    .slogan-content {
        font-size: 36px
        color: #d2c9d4
    }
}

.demo-editor-wrap {
    margin: 60px auto 80px
    width: 1000px
    overflow: hidden

    &.full {
        fixed(0, 0, 0, 0)
        size(100%)
        overflow: hidden
        margin: 0

        .demo-editor {
            width: 100%
        }

        .demo-console-wrap {
            absolute(null, 0, 0, 0)
            height: 92px
            overflow-y: auto
            overflow-x: hidden
            -webkit-overflow-scrolling: touch
            z-index: 99
        }
    }
}

.demo-nav {
    position: relative
    font-size: 14px
    background-color: #1f1f1f

    .nav-list {
        reset-list()
        clearfix()

        .nav-btn {
            &.first {
                float: left
                position: relative
            }

            &.last {
                absolute(0, 0, null, null)
            }
        }

        .nav-item {
            float: left

            a {
                transition(all, .1s)
                display: block
                color: #999
                background-color: #1f1f1f
                padding: 0 30px
                height: $nav-height
                line-height: $nav-height
            }

            &:hover {
                a {
                    text-decoration: none
                    background-color: $editor-menu-hover-bg
                    color: #fff
                }
            }

            &.cur {
                a {
                    text-decoration: none
                    background-color: #282828
                    color: #fff
                }

                &:hover {
                    a {
                        background-color: #282828
                        cursor: default
                    }
                }
            }
        }
    }

    .menu-list {
        absolute(50px, null, null, 0)
        animation(changeOpacity .2s)
        reset-list()
        width: $editor-menu-width
        background-color: #1f1f1f
        z-index: 100
        display: none

        hover() {
            background-color: $editor-menu-hover-bg-light
            color: #fff

            span {
                color: #a9dbfa
            }

            .arrow-right {
                opacity: 1
            }

            &.select .check {
                opacity: 1
            }
        }

        .menu-item {
            position: relative

            &:hover,
            &.cur {
                .menu-link {
                    hover()
                }
            }

            a {
                transition(all, .1s)
                display: block
                height: 50px
                line-height: 50px
                padding: 0 20px 0 25px
                color: #999
                text-decoration: none
                position: relative

                span {
                    transition(color, .1s)
                    float: right
                    color: #666
                }

                .arrow-right {
                    size(10px)
                    transition(opacity, .1s)
                    image-2x('../img/icon_editor@2x.png', 200px, 100px)
                    opacity: .4
                    background: url(../img/icon_editor.png) -125px -25px no-repeat
                    absolute(20px, 15px, null, null)

                }

                &.select .check {
                    size(14px)
                    transition(opacity, .1s)
                    image-2x('../img/icon_editor@2x.png', 200px, 100px)
                    opacity: .4
                    background: url(../img/icon_editor.png) -125px -50px no-repeat
                    absolute(21px, null, null, 8px)
                }
            }

            .menu-sub-list {
                animation(changeOpacity .2s)
                absolute(0, null, null, $editor-menu-width)
                background-color: #1f1f1f
                display: none
                min-width: 100px

                .menu-sub-link:hover {
                    hover()
                }
            }
        }
    }
}

.demo-console-wrap {
    background-color: #282828
    border: 4px solid #232323
    border-left: 0
    border-right: 0
}

.demo-console {
    padding: 5px 15px
    font-size: 12px
    color: #999
    line-height: 1.4
    white-space: pre

    .warn {
        color: #c7c327
    }

    .err {
        color: #c71e12
    }

    .info {
        color: #00c120
    }
}

.menu-btn {
    transition(background-color, .1s)
    size($nav-height)
    display: block

    i {
        transition(opacity, .1s)
        size($nav-height)
        image-2x('../img/icon_editor@2x.png', 200px, 100px)
        display: block
        opacity: .2
        background: url(../img/icon_editor.png) -150px -50px no-repeat
    }

    &:hover,
    &.cur {
        background-color: $editor-menu-hover-bg-light

        i {
            opacity: 1
        }
    }
}

.full-screen-btn {
    size($nav-height)
    transition(background-color, .1s)
    display: block

    i {
        size($nav-height)
        transition(opacity, .1s)
        image-2x('../img/icon_editor@2x.png', 200px, 100px)
        background: url(../img/icon_editor.png) 0 -50px no-repeat
        opacity: .3
        display: block
    }

    &:hover {
        background-color: $editor-menu-hover-bg

        i {
            opacity: .5
        }
    }

    &.full {
        i {
            background-position: -50px -50px
        }
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-image: none
    }

    .demo-editor-wrap {
        width: 100%
        margin-bottom: 0
    }
}

@media screen and (max-width: 800px) {
    .demo-slogan {
        .slogan-title {
            font-size: 56px
        }

        .slogan-content {
            font-size: 30px
        }
    }
}

@media screen and (max-width: 700px) {
    .demo-slogan {
        margin-top: 10px

        .slogan-title {
            font-size: 42px
        }

        .slogan-content {
            font-size: 20px
        }
    }

    .demo-editor-wrap {
        margin-top: 40px
    }

    .demo-nav {
        font-size: 12px

        .nav-list {
            .nav-item {
                a {
                    height: 40px
                    line-height: 40px
                    padding: 0 15px
                }
            }

            .menu-list {
                top: 40px
                width: 180px

                .menu-item {
                    a {
                        height: 40px
                        line-height: 40px
                    }

                    .menu-sub-list {
                        left: 180px
                    }
                }
            }
        }
    }

    .demo-editor {
        font-size: 12px !important
    }

    .menu-btn,
    .full-screen-btn {
        size(40px)
        i {
            transform(scale(.8, .8))
            absolute(-5px, null, null, -5px)
        }
    }

    .demo-editor-wrap {
        &.full .demo-console-wrap,
        .demo-console-wrap {
            overflow-x: auto
        }
    }
}

@media screen and (max-width: 630px) {
    .demo-slogan {
        margin-top: 40px
    }
}

@media screen and (max-width: 420px) {
    .demo-slogan {
        .slogan-title {
            font-size: 32px
        }
        .slogan-content {
            font-size: 15px
        }
    }
}
