@import "comm"

.header {
    absolute(0, 0, null, 0)
    z-index: 100
}

.slogan {
    margin-top: 170px
    text-align: center
    color: #fff
    font-weight: 400
    font-family: $font-fzyx

    .slogan-title {
        font-size: 70px
        margin-bottom: 10px
        letter-spacing: 1px
    }

    .slogan-content {
        font-size: 40px
        color: #d2c9d4
    }
}

.banner {
    overflow: hidden
    height: 1068px
    position: relative
    background-color: #454163
    background-image: -webkit-radial-gradient(#565378, #37324a)
    background-image:    -moz-radial-gradient(#565378, #37324a)
    background-image:     -ms-radial-gradient(#565378, #37324a)
    background-image:         radial-gradient(#565378, #37324a)

    .banner-bg,
    .banner-bg-front,
    .banner-bg-end {
        size(100%, 710px)
    }

    .banner-bg {
        absolute(360px, 0, null, 0)
        image-2x('../img/banner_bg@2x.png', 1920px, 710px)
        background: url(../img/banner_bg.png) 50% 0 no-repeat
    }

    .banner-bg-front {
        image-2x('../img/banner_bg_front@2x.png', 1920px, 710px)
        animation(changeOpacity 2s 0s linear 17 alternate)
        transform(translateZ(0))
        background: url(../img/banner_bg_front.png) 50% 0 no-repeat
    }

    .banner-bg-end {
        image-2x('../img/banner_bg_end@2x.png', 1920px, 710px)
        animation(changeOpacityReverse 4s 0s linear 8 alternate)
        transform(translateZ(0))
        background: url(../img/banner_bg_end.png) 50% 0 no-repeat
    }
}

.intro {
    $intro-height = 380px

    absolute(null, 0, 0, 0)
    size(100%, $intro-height)
    background-color: rgba(0, 0, 0, .4)

    .intro-inner {
        size(1000px, $intro-height)
        width: 1000px
        margin: 0 auto
    }

    .intro-list {
        reset-list()
        clearfix()
        height: $intro-height

        .intro-item {
            size(333px, $intro-height)
            float: left
            text-align: center

            .intro-icon {
                size(132px)
                image-2x('../img/sprite_icon@2x.png', 500px, 300px)
                margin-top: 60px
                display: inline-block
                background: url(../img/sprite_icon.png) 0 -100px no-repeat

                &.intro-icon-gx {
                    background-position: -150px -100px
                }

                &.intro-icon-qq {
                    background-position: -300px -100px
                }
            }

            h3 {
                color: #fff
                font-size: 26px
                margin-top: 30px
                font-family: $font-fzyx
            }

            p {
                font-size: 14px
                color: #c8c8db
                padding: 10px
                text-align: center
                line-height: 1.4
            }
        }
    }
}

.info {
    overflow: hidden
    color: #fff
    background-color: #454163
    background-image: -webkit-radial-gradient(#565378, #37324a)
    background-image:    -moz-radial-gradient(#565378, #37324a)
    background-image:     -ms-radial-gradient(#565378, #37324a)
    background-image:         radial-gradient(#565378, #37324a)

    .info-inner {
        clearfix()
        width: 1000px
        margin: 0 auto

        .info-title {
            font-size: 26px
            padding: 60px 0
            height: 28px
            line-height: 28px
            text-align: center
            font-weight: 400
            font-family: $font-fzyx

            i {
                size(60px, 28px)
                display: inline-block
                border-top: 1px solid #fff
                position: relative
                bottom: -20px
            }
        }

        .info-list {
            reset-list()
            clearfix()
            border-bottom: 1px solid #685f7b
            padding-bottom: 50px
        }

        .info-item {
            float: left
            text-align: center
            padding: 0 52px
            width: 170px

            &.first {
                padding-left: 0
            }

            &.last {
                padding-right: 0
            }

            i {
                display: block
                height: 50px
                line-height: 50px
                font-style: normal
                font-size: 14px
                border: 1px solid #756c8a
                margin-bottom: 17px
                font-family: $font-fzyx
                text-align: center
            }

            p {
                font-size: 14px
                line-height: 1.5
                color: #d2c9d4
            }
        }
    }
}

.how-to-use {
    margin: 65px 0
    padding-bottom: 40px
    border-bottom: 1px solid #685f7b
    overflow: hidden

    .how-to-use-line {
        clearfix()
        margin-bottom: 20px

        span {
            width: 100px
            float: left
            font-size: 28px
            height: 60px
            line-height: 60px
            font-family: $font-fzyx
        }

        pre {
            width: 800px
            float: right
            background-color: #756c8a
            font-size: 20px
            line-height: 1.5
            padding: 20px 40px
        }
    }
}

.efe-products {
    font-size: 14px
    color: #d2c9d4
    margin: 50px 0

    a {
        color: #6aa3c9
    }

    p,
    dl {
        margin-bottom: 30px
    }

    dl {
        clearfix()
        line-height: 1.8
    }

    dt,
    dd {
        float: left
    }

    dt {
        clear: left
        width: 70px
    }
}

@media screen and (max-width: 1050px) {
    .intro {
        .intro-inner {
            width: 900px
            margin: 0 auto

            .intro-list {
                .intro-item {
                    width: 300px
                }
            }
        }
    }

    .info {
        .info-inner {
            width: 95%

            .info-title {
                padding: 50px 0
            }

            .info-list {
                display: flex
                width: 100%
                margin: 0 auto

                .info-item {
                    flex: 1
                    padding: 10px

                    &.first {
                        padding-left: 0
                    }

                    &.last {
                        padding-right: 0
                    }
                }
            }

            .how-to-use {
                margin: 50px 0

                .how-to-use-line {
                    span {
                        float: none
                    }

                    pre {
                        float: none
                        width: 100%
                        font-size: 18px
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .slogan {
        margin-top: 150px

        .slogan-title {
            font-size: 60px
        }

        .slogan-content {
            font-size: 30px
        }
    }

    .banner {
        height: 850px

        .banner-bg {
            top: 340px
        }

        .banner-bg,
        .banner-bg-front,
        .banner-bg-end {
            background-size: 1400px
        }
    }

    .intro {
        height: 310px

        .intro-inner {
            size(95%, 310px)
            margin: 0 auto
            left: 0

            .intro-list {
                display: flex
                height: 310px

                .intro-item {
                    width: auto
                    flex: 1
                    height: 310px

                    .intro-icon {
                        transform(scale(.8, .8))
                        margin-top: 40px
                    }

                    h3 {
                        font-size: 26px
                        margin-top: 20px
                    }

                    p {
                        font-size: 14px
                    }
                }
            }
        }
    }

    .info {
        background-image: none

        .info-inner {
            .info-title {
                padding: 50px 0
            }

            .info-list {
                padding-bottom: 40px

                .info-item {
                    flex: 1
                    padding: 10px

                    &.first {
                        padding-left: 0
                    }

                    &.last {
                        padding-right: 0
                    }
                }
            }

            .how-to-use {
                margin-top: 40px

                .how-to-use-line {
                    pre {
                        font-size: 16px
                    }
                }
            }

            .efe-products {
                dl {
                    line-height: 1.4
                    dt {
                        width: 15%
                    }

                    dd {
                        width: 85%
                        margin-bottom: 7px
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .info {
        .info-inner {
            .info-title {
                font-size: 24px
            }

            .info-list {
                .info-item {
                    i {
                        font-size: 14px
                    }

                    p {
                        font-size: 14px
                    }
                }
            }

            .how-to-use {
                margin-top: 40px

                .how-to-use-line {
                    span {
                        font-size: 24px
                    }

                    pre {
                        padding: 15px 30px
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .slogan {
        margin-top: 150px

        .slogan-title {
            font-size: 50px
        }

        .slogan-content {
            font-size: 24px
        }
    }

    .banner {
        height: 650px

        .banner-bg {
            top: 282px
        }

        .banner-bg,
        .banner-bg-front,
        .banner-bg-end {
            background-size: 1000px
        }
    }

    .intro {
        height: 225px
        .intro-inner {
            height: 225px

            .intro-list {
                height: 225px

                .intro-item {
                    height: 225px

                    .intro-icon {
                        transform(scale(.6, .6))
                        margin-top: 10px
                    }

                    h3 {
                        font-size: 20px
                        margin-top: -10px
                    }

                    p {
                        font-size: 12px
                        padding-top: 5px
                    }
                }
            }

            .how-to-use {
                .how-to-use-line {
                    pre {
                        font-size: 16px
                    }
                }
            }
        }
    }

    .info {
        .info-inner {
            .info-title {
                font-size: 20px
                padding: 35px 0
            }
            .info-list {
                padding-bottom: 30px

                .info-item {
                    i {
                        margin-bottom: 10px
                    }

                    p {
                        font-size: 12px
                    }
                }
            }

            .how-to-use {
                margin-top: 25px
                padding-bottom: 30px

                .how-to-use-line {
                    span {
                        font-size: 20px
                        line-height: 2
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .slogan {
        .slogan-title {
            font-size: 44px
        }

        .slogan-content {
            font-size: 18px
        }
    }
    .intro {
        .intro-inner {
            width: 100%

            .intro-list {
                .intro-item {
                    position: relative
                    .intro-icon {
                        transform(scale(.5, .5))
                        absolute(-5px, null, null, 50%)
                        margin-left: -66px
                    }

                    h3 {
                        font-size: 20px
                        margin-top: 120px
                    }

                    p {
                        font-size: 12px
                        padding-top: 5px
                    }
                }
            }
        }
    }

    .info {
        .info-inner {
            .info-title {
                padding: 20px 0
            }

            .info-list {
                padding-bottom: 20px

                .info-item {
                    i {
                        font-size: 13px
                        margin-bottom: 10px
                        height: 35px
                        line-height: 35px
                    }

                    p {
                        font-size: 12px
                    }
                }
            }

            .how-to-use {
                margin: 20px 0 30px 0
                padding-bottom: 20px

                .how-to-use-line {
                    pre {
                        font-size: 13px
                        padding: 10px 20px
                    }
                }
            }

            .efe-products {
                margin-top: 30px
                margin-bottom: 30px

                p {
                    font-size: 12px
                    margin-bottom: 20px
                }

                dl {
                    line-height: 1.4
                    font-size: 12px
                    dt {
                        width: 15%
                    }

                    dd {
                        width: 85%
                        margin-bottom: 7px
                    }
                }
            }
        }
    }
}
