@import "comm"

body {
    background-color: #454163
    // background-image: -webkit-radial-gradient(#565378, #37324a)
    // background-image:    -moz-radial-gradient(#565378, #37324a)
    // background-image:     -ms-radial-gradient(#565378, #37324a)
    // background-image:         radial-gradient(#565378, #37324a)
}

.plugin-slogan {
    margin-top: 30px
    text-align: center
    color: #fff
    font-weight: 400
    font-family: $font-fzyx

    .slogan-title {
        font-size: 50px
        margin-bottom: 10px
        letter-spacing: 1px
    }

    .slogan-content {
        font-size: 30px
        color: #d2c9d4
    }
}

.mac-mockup {
    margin: 60px auto 40px
    height: 550px
    image-2x('../img/mac_mockup@2x.png', 950px, 550px)
    background: url('../img/mac_mockup.png') 50% 0 no-repeat
    position: relative

    .mac-screen {
        size(704px, 453px)
        image-2x('../img/mac_bg@2x.png', 71px, 41px)
        background: #474344 url('../img/mac_bg.png') 50% 0
        absolute(31px, null, null, 50%)
        margin-left: -352px
    }
}

#plugins {
    size(800px, 700px)
    absolute(-100px, null, null, 50%)
    margin-left: -400px
}

.plugin-list {
    clearfix()
    reset-list()
    width: 800px
    margin: 0 auto
    padding: 50px 0 100px
    display: none;

    li {
        size(128px, 160px)
        float: left
        margin: 25px 36px

        .plugin-icon {
            size(128px)
            display: block

            img {
                size(128px)
            }

            &:active {
                opacity: 0.8
            }
        }

        .plugin-name {
            display: block
            width: 128px
            color: #fff
            font-size: 18px
            text-align: center
            margin-top: 10px
            color: #d2c9d4
            white-space: nowrap

            &:hover {
                text-decoration: none
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .plugin-list {
        width: 600px
        padding-top: 40px
        padding-bottom: 40px
    }

    .mac-mockup {
        background-size: 760px
        height: 440px

        .mac-screen {
            size(562px, 363px)
            absolute(24px, null, null, 50%)
            margin-left: -(562px / 2)
        }
    }

    #plugins {
        size(700px, 560px)
        absolute(-75px, null, null, 50%)
        margin-left: -(700px / 2)
    }
}

@media screen and (max-width: 700px) {
    .plugin-slogan {
        margin-top: 0

        .slogan-title {
            font-size: 42px
        }
        .slogan-content {
            font-size: 20px
        }
    }

    .plugin-list {
        width: 90%

        li {
            size(25%, 130px)
            margin: 0 0 20px 0

            .plugin-icon {
                size(90px)
                margin: 0 auto

                img {
                    size(90px)
                }
            }

            .plugin-name {
                font-size: 14px
                width: 100%
            }
        }
    }

    .mac-mockup {
        background-size: 570px
        height: 330px

        .mac-screen {
            size(420px, 272px)
            absolute(18px, null, null, 50%)
            margin-left: -(420px / 2)
        }
    }

    #plugins {
        size(600px, 450px)
        absolute(-75px, null, null, 50%)
        margin-left: -(600px / 2)
    }
}

@media screen and (max-width: 630px) {
    .plugin-slogan {
        margin-top: 40px
    }
}

@media screen and (max-width: 600px) {
    .plugin-list {
        li {
            size(33%, 130px)
        }
    }
}

@media screen and (max-width: 420px) {
    .plugin-slogan {
        .slogan-title {
            font-size: 32px
        }
        .slogan-content {
            font-size: 15px
        }
    }
    .plugin-list {
        li {
            height: 110px
            margin: 0 0 20px 0

            .plugin-icon {
                size(70px)
                margin: 0 auto

                img {
                    size(70px)
                }
            }

            .plugin-name {
                font-size: 12px
            }
        }
    }
    .mac-mockup {
        margin-top: 40px
        margin-bottom: 20px
        height: 220px
        background-size: 380px

        .mac-screen {
            size(280px, 181px)
            absolute(12px, null, null, 50%)
            margin-left: -(280px / 2)
        }
    }

    #plugins {
        size(420px, 300px)
        absolute(-53px, null, null, 50%)
        margin-left: -(420px / 2)
    }
}
