@import "comm"

body {
    background-color: #454163
    background-image: -webkit-radial-gradient(#565378, #37324a)
    background-image:    -moz-radial-gradient(#565378, #37324a)
    background-image:     -ms-radial-gradient(#565378, #37324a)
    background-image:         radial-gradient(#565378, #37324a)
}

.plugin-slogan {
    margin-top: 20px
    text-align: center
    color: #fff
    font-weight: 400
    font-family: $font-fzyx

    .slogan-title {
        font-size: 60px
        margin-bottom: 10px
        letter-spacing: 1px
    }

    .slogan-content {
        font-size: 36px
        color: #d2c9d4
    }
}

.plugin-list {
    clearfix()
    reset-list()
    width: 800px
    margin: 0 auto
    padding: 50px 0 100px

    li {
        size(128px, 160px)
        float: left
        margin: 25px 36px

        .plugin-icon {
            size(128px)
            display: block

            img {
                size(128px)
            }

            &:active {
                opacity: 0.8
            }
        }

        .plugin-name {
            display: block
            width: 128px
            color: #fff
            font-size: 18px
            text-align: center
            margin-top: 10px
            color: #d2c9d4
            white-space: nowrap

            &:hover {
                text-decoration: none
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .plugin-slogan {
        .slogan-title {
            font-size: 56px
        }
        .slogan-content {
            font-size: 30px
        }
    }
    .plugin-list {
        width: 600px
        padding-top: 40px
        padding-bottom: 40px
    }
}

@media screen and (max-width: 700px) {
    .plugin-slogan {
        margin-top: 40px

        .slogan-title {
            font-size: 42px
        }
        .slogan-content {
            font-size: 20px
        }
    }

    .plugin-list {
        width: 90%

        li {
            size(25%, 130px)
            margin: 0 0 20px 0

            .plugin-icon {
                size(90px)
                margin: 0 auto

                img {
                    size(90px)
                }
            }

            .plugin-name {
                font-size: 14px
                width: 100%
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .plugin-list {
        li {
            size(33%, 130px)
        }
    }
}

@media screen and (max-width: 420px) {
    .plugin-slogan {
        .slogan-title {
            font-size: 32px
        }
        .slogan-content {
            font-size: 15px
        }
    }
    .plugin-list {
        li {
            height: 110px
            margin: 0 0 20px 0

            .plugin-icon {
                size(70px)
                margin: 0 auto

                img {
                    size(70px)
                }
            }

            .plugin-name {
                font-size: 12px
            }
        }
    }
}
