/* reset */

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td {
    margin: 0
    padding: 0
}

/* 设置默认字体 */
body,
button,
input,
select,
textarea { /* for ie */
    font: 12px/1 $font-normal
}

/* 重置表格元素 */
table {
    border-collapse: collapse
    border-spacing: 0
}

