{% extends '../layout/base.html' %}

{% block css %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block content %}
<div class="header">
    <div class="header-inner">
        <h1 class="logo"><a href="{{ site.baseurl }}/">FECS</a></h1>
        <ul class="top-nav">
            <li><a class="cur" href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/demo">Demo</a></li>
            <li><a href="/plugins">Plugins</a></li>
            <li><a target="_blank" href="{{ site.wiki }}">Wiki</a></li>
            <li><a target="_blank" href="{{ site.github }}">Github</a></li>
        </ul>
    </div>
</div>
<div class="banner">
    <h2 class="slogan">
        <p class="slogan-title">FECS</p>
        <p class="slogan-content">基于 Node.js 的前端代码检查工具</p>
    </h2>
    <div class="banner-bg">
        <div class="banner-bg-front">
            <div class="banner-bg-end"></div>
        </div>
    </div>
    <div class="intro">
        <div class="intro-inner">
            <ul class="intro-list">
                <li class="intro-item">
                    <i class="intro-icon intro-icon-lh"></i>
                    <h3>灵活</h3>
                    <p>安装简单<br>深度可配置性</p>
                </li>
                <li class="intro-item">
                    <i class="intro-icon intro-icon-gx"></i>
                    <h3>高效</h3>
                    <p>基于 Stream<br>文件流转从未如此迅速</p>
                </li>
                <li class="intro-item">
                    <i class="intro-icon intro-icon-qq"></i>
                    <h3>齐全</h3>
                    <p>四大语言支持<br>前端代码质量有保障</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="info">
    <div class="info-inner">
        <h2 class="info-title"><i></i> 基于四个工具 <i></i></h2>
        <ul class="info-list">
            <li class="info-item first">
                <i>htmlcs</i>
                <p>检查、格式化<br>HTML 代码</p>
            </li>
            <li class="info-item">
                <i>csshint</i>
                <p>检查 CSS 代码</p>
            </li>
            <li class="info-item">
                <i>lesslint</i>
                <p>检查 Less 代码</p>
            </li>
            <li class="info-item last">
                <i>jformatter</i>
                <p>修复 JS 代码</p>
            </li>
        </ul>
        <div class="how-to-use">
            <div class="how-to-use-line">
                <span>安装</span>
                <pre><code>$ [sudo] npm install fecs -g</code></pre>
            </div>
            <div class="how-to-use-line">
                <span>使用</span>
<pre>
<code>fecs
fecs -v
fecs check --help
fecs format --help
</code>
</pre>
            </div>
        </div>
        <div class="efe-products">
            <p>开源的 FECS 来自百度 EFE。在 <a target="_blank" href="http://efe.baidu.com">EFE</a>，我们还有其他开源产品：</p>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-inner">
    {% include "../partial/copyright.html" %}
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$.get('http://ecomfe.github.io/efe-meta/html/full-intro.html').then(function (html) {
    $('.efe-products').append(html);
});
</script>
{% endblock %}
