<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" href="fav.ico">
    <link rel="shortcut icon" href="fav.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    {% block css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<script src="/dep/jquery-2.1.4.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>
