<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" href="/fav.ico">
    <link rel="shortcut icon" href="/fav.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    {% block css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<script src="{{ site.dep }}/jquery-2.1.4.min.js"></script>
<script>
$(function () {
    $('.top-nav a[href^="' + location.pathname.replace(/\b\/$/, '').toLowerCase() + '"]').eq(0).addClass('cur');
});
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?c299d372321b69c812a1cd5d00e932f7";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
{% block js %}{% endblock %}
</body>
</html>
